body{
  font-family: 'Albert Sans', sans-serif;
}

img{
  border-radius: 50%;
}

video{
  width: 90%;
  border-radius: 1rem;
}


/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 3;
}

.fa-arrow-up{
  color: #F0F0F0;
}

.btn-back{
  background-color: #31302E;
  color: #F0F0F0;
  border-color: #31302E;
}

/* Container */
.container{
  padding: 5rem 15%;
}

nav .container{
  padding: 5rem 7%;
}

.container-project{
  padding: 3rem 10% 0;
}

/* Colors */
.light-grey{
  color: #F0F0F0;
}

/* Navigation bar */
.fa-moon{
  font-size: 1.5rem;
}

.nav-item{
  margin: 0 2rem;
  font-size: 1.2rem;
  font-family: 'Albert Sans', sans-serif;
  display: none;
}

/* Title Section */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/title-bg.png");
  background-color: #31302E;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 3rem;
  display: none;
}

.lead{
  font-family: 'Albert Sans', sans-serif;
  font-size: 1.5rem;
  display: none;
}

.title-image{
  position: absolute;
  display: none;
  z-index: 1;
  width: 50%;
  right: 5rem;
  top: 12rem;
}

.landing-row{
  height: 50vh;
  margin: 0;
}

.landing-col{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title{
  font-family: 'Edu TAS Beginner', cursive;
}


/* About */
#about-section{
  background-image: url("../images/about-bg.png");
  background-color: #F0F0F0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  text-align: center;
}

.about-img{
  width: 80%;
  margin-bottom: 15px;
}

/* Project */
#project-section{
  background-image: url("../images/project-bg.png");
  background-color: #94908D;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.project-img{
  width: 90%;
  border-radius: 1rem;
}

.project-display{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-row{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.project-desc{
  color: #F0F0F0;
  text-shadow: 1px 1px #31302E;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.project-button{
  background-color: #31302E;
  width: 60%;
  height: 2rem;
  border-radius: 1rem;
  color: #F0F0F0;
}

.project-arrow-right{
  text-shadow: 1px 1px #31302E;
  font-size: 1.4rem;
  display: inline-block;
  margin: 0 1rem;
  color: #F0F0F0;
}

.project-arrow-left{
  text-align: right;
  text-shadow: 1px 1px #31302E;
  font-size: 1.4rem;
  display: inline-block;
  margin: 0 1rem;
  color: #F0F0F0;
  width: 40%;
}

.underline-right{
  display: inline-block;
  text-decoration: underline;
  text-align: right;
  width: 60%;
}

.underline-center{
  display: inline-block;
  text-decoration: underline;
  text-align: right;
}

.underline-left{
  display: inline-block;
  text-decoration: underline;
  text-align: left;
}

.text-left{
  text-align: left;
}

/* Contact section */
#contact-section{
  background-image: url("../images/contact-bg.png");
  background-color: #F0F0F0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-col{
  margin-bottom: 2rem;
}

.contact-icon{
  font-size: 2rem;
  margin: 1rem 0;
  color: #31302E;
}

.contact-link{
  visibility: hidden;
}

/* Footer section */
#footer-section{
  background-color: #F0F0F0;
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 1rem;
}

/* Responsive media */
@media (max-width:800px) {
  .title-image{
    visibility: hidden;
  }

  .masthead{
    background-image: url("../images/moon-background.png");
  }

  nav .container{
    padding: 2rem 5% 0;
  }

  .nav-item{
    margin: 1rem 0 0;
    text-align: right;
  }
  
  .title, .lead{
    /* background-color: rgba(49, 48, 46, 0.4); */
    text-shadow: -1px -1px 0 rgba(49, 48, 46, 0.6), 1px -1px 0 rgba(49, 48, 46, 0.6), -1px 1px 0 rgba(49, 48, 46, 0.6), 1px 1px 0 rgba(49, 48, 46, 0.6);
    margin-bottom: 0;
  }

  .title-text{
    width: 100%;
  }

  .landing-col{
    padding: 0;
  }

  .title{
    margin-top: 10rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .lead{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .about-col{
    margin: 1.5rem 0;
  }

  .project-display{
    margin-bottom: 15px;
  }

  .landing-img{
    display: none;
  }

  .contact-link{
    display: none;
  }

  .contact-icon{
    margin: 1rem 0 2rem;
  }

  .underline-right{
    width: 75%;
    font-size: 2rem;
    margin-top: 4rem;
  }

  .underline-center{
    font-size: 2rem;
    margin-top: 4rem;
  }

  .underline-left{
    font-size: 2rem;
    margin-top: 4rem;
  }

  .project-arrow-left{
    width: 16%;
  }
}

@media (max-width:321px) {
  .underline-right{
    width: 80%;
    font-size: 2rem;
    margin-top: 4rem;
  }

  .underline-center{
    font-size: 2rem;
    margin-top: 4rem;
  }

  .underline-left{
    font-size: 2rem;
    margin-top: 4rem;
  }

  .project-arrow-left{
    width: 10%;
  }
}
